
@{
    ViewBag.Title = "BtnClick";
}

<h2>BtnClick</h2>

<!--------------------------------------Dont Touch This--------------------------------------->
<style>
    body {
        background-color: black;
        color: white
    }
</style>
<br />
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="from-horizontal text-dark">
                    <div class="fom-group">
                        <label style="color:black">Playlist Name</label>
                        <input class="form-control" type="text" id="playlist" />
                    </div>
                    <br />
                    <button class="btn" style="border-radius:20px;background-color:#009c9e" id="btnAdd" type="button">
                        Add Playlist
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------Dont Touch This--------------------------------------->

@section Scripts {

    <script type="text/javascript">

        //------------- Question 2--------------------\\
        /******Start Question 2 ********p/
        $("#btnAdd").on('click', function () {

        });
        //-------------------------------------\\
    </script>
}